<!--
  Generated template for the AddnotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Note</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cancel()" large>
        <span color="danger" showWhen="ios">
          Cancel
        </span>
        <ion-icon color="danger" name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="container">
    <form #addnoteForm="ngForm" novalidate>
      <ion-list>
        <p ion-text [hidden]="title.valid || submitted == false" color="danger" padding-left>
  				Note title is required
  			</p>
        <ion-item>
          <ion-input type="text" [(ngModel)]="addnote.title" #title="ngModel" name="title" placeholder="Note Title" required></ion-input>
        </ion-item>
        <p ion-text [hidden]="radioValue != null || submitted == false" color="danger" padding-left>
  				Album is required
  			</p>
        <ion-row *ngIf="radioValue; else noradioselect">
          <ion-label>Album</ion-label>
          <button ion-button full color="light" round (click)="showRadio()">{{radioLabel}}</button>
        </ion-row>
        <ng-template #noradioselect>
          <ion-row>
            <ion-label>Album</ion-label>
            <button ion-button full color="light" round (click)="showRadio()">Choose Album</button>
          </ion-row>
        </ng-template>
        <ion-item>
          <ion-slides class="slides" pager="true" *ngIf="photos.length > 0; else noslides">
            <ion-slide *ngFor="let photo of photos" class="block">
              <!-- <img [src]="{{pathForImage(photo)}}"/> -->
              <img [src]="photo"/>
              <ion-icon name="md-close" class="deleteIcon" (click)="deletePhoto()"></ion-icon>
            </ion-slide>
          </ion-slides>
          <ng-template #noslides>
            <div text-center class="div-center">
              <p>You haven't upload photo.<br>
                Now try to upload one <br> by push the button <span class="green">+</span> below.
              </p>
            </div>
          </ng-template>
          <ion-row>
            <ion-col style="text-align: center;">
              <button ion-button color="secondary" outline class="image-button" (click)="pilihupload()"><ion-icon name="add-circle"></ion-icon>&nbsp;Add Image</button>
            </ion-col>
          </ion-row>
        </ion-item>
        <p ion-text [hidden]="note.valid || submitted == false" color="danger" padding-left>
  				Contents of the note is required
  			</p>
        <ion-item>
          <ion-textarea name="description" placeholder="Your Notes" rows="10" [(ngModel)]="addnote.note" #note="ngModel" name="note" required></ion-textarea>
        </ion-item>
      </ion-list>
      <button ion-button full color="secondary" type="submit" round (click)="submit(addnoteForm)">Submit</button>
    </form>
  </div>
</ion-content>
